@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');



.mainlink {
  text-decoration: none;
}

.home {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.footer{
  height: 20vh;
}

.blur{
  height: 20vh;
  width: 20vw;
  background-color: #32b4cb;
  position: fixed;
  filter: blur(150px);
  z-index: -99;
}

.blur2{
  height: 20vh;
  width: 20vw;
  background-color: #eb1fd7;
  position: fixed;
  right: 2vw;
  top: 30vh;
  filter: blur(150px);
  z-index: -100;
}

.button{
  position: relative;
  left: 10rem;
}

.form input{
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.submit{
  background-color: blue;
}